<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  body {
    background-image: url("http://www.photos-public-domain.com/wp-content/uploads/2012/02/blue-fleece-faux-sherpa-wool-fabric-texture.jpg");
  }

  p {
    margin-right: 150px;
    margin-left: 80px;
  }
  </style>
  <title>Custom Plushes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>A good place to get or sell all the plushes you will ever need.</p>
<%= yield %>

</body>
</html>
