<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<html>
<head>
  <title>Project: Commission Plushes!</title>
</head>
<body>
<p>Inspired by a need for Tux plushes.</p>`
</body>
