<h1>Please Fill the Request Form</h1>
<p>Find me in app/views/welcome/request.html.erb</p>

<html>
<head>
  <title>Request Page</title>
</head>
<body>
<p>Inspired by a need for Tux plushes.</p>
</body>

